/* ========================================
  * Reset
  * ======================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
hr,
pre {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
}

/* ========================================
  * Global
  * ======================================== */
html {
  font-size: 62.5%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  word-wrap: break-word;
  color: var(--c-text);
  background: var(--c-bg);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  line-height: 1.75;
}
